spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:springplayground
    username: sa
    password:
    hikari:
      minimum-idle: 1
      maximum-pool-size: 50
      max-lifetime: 20000
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
    generate-ddl: true
    open-in-view: false
  h2:
    console:
      enabled: true

decorator:
  datasource:
    p6spy:
      enable-logging: true
      multiline: true
      logging: slf4j